* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    min-height: 100vh;
    background-color: black;
}

body::after {
    content: "";
    background: url(svg/lottery-balls.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(161, 250, 28);
    height: 100vh;
    margin: 0px;
}

.play-button {
    padding: 3.5px 14px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 40px rgb(255, 255, 255), 0px 0px 80px rgb(255, 255, 255);
    background-color: white;
    max-width: 200px;
    margin: 1.8em auto;
}

.numbers-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 1%;
    max-width: 270px;
}

.random-numbers {
    margin: 3px;
    border: rgb(0, 120, 122) solid 2px;
    box-shadow: 0px 2px 7px rgb(0, 120, 122);
    border-radius: 50%;
    padding: 7px 30px;
    font-size: 2rem;
    background-color: transparent;
    color: rgb(148, 235, 216);
}

.random-numbers p {
    margin: 0px;
}

#buton {
    cursor: pointer;
    margin: 0px;
    color: black;
}

.win {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6em;
    margin: 0 auto;
    margin-top: 40px;
    padding: 3px;
    color: rgb(8, 235, 113);
    max-width: 270px;
}

.win h3 {
    font-size: 2.5rem;
    box-shadow: 0px 0px 10px rgb(0, 179, 73);
    padding: 0 0.1em;
}

.container h1,
h2 {
    text-shadow: 0px 2px 7px rgb(5, 233, 111), 0px 15px 26px rgb(5, 233, 111);
    margin: 0px;
}

.guessedNmb {
    margin: 3px;
    border: transparent solid 2px;
    box-shadow: 0px 2px 7px rgb(148, 235, 216), 0px 2px 8px rgb(148, 235, 216);
    border-radius: 4em;
    padding: 2px 20px;
}

.guessedNmb p {
    margin: 0px;
    font-size: 2.5rem;
}

.lose {
    text-align: center;
}

.lose p {
    color: rgb(255, 81, 81);
    font-size: 2.5rem;
    box-shadow: 0px 0px 10px rgb(250, 3, 3);
}

img {
    max-width: 150px;
    margin: 0 auto;
    box-shadow: 0px 0px 7px rgb(38, 169, 255), 0px 0px 10px rgb(38, 169, 255), 0px 0px 13px rgb(38, 169, 255);
    border-radius: 0.2em;
    border: rgb(38, 169, 255) solid 1px;
}

.rewrite {
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

.rewrite h2 {
    text-shadow: rgb(255, 255, 255) 0px 2px 0px, red 0px 3px 0px;
}

.intro {
    text-align: center;
    color: rgb(8, 235, 113);
}

@media (min-width:500px) {
    .container h1,
    h2 {
        font-size: 5rem;
    }
    .numbers-box {
        max-width: 470px;
        padding: 0.5%;
        max-width: 630px;
    }
    .random-numbers {
        font-size: 2.6rem;
    }
    .win {
        max-width: 300px;
    }
    .win h3 {
        font-size: 3rem;
    }
    .rewrite h2 {
        font-size: 2.7rem;
        max-width: 803px;
        margin: -150px auto;
    }
}